/* Nav Styles */

.divSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50px;
    background-color: darkgray;
    padding: 5px;
    border: 1px;
    border-radius: 5px;
}

.inputSearch {
    width: 60%;
    margin-right: 10%;
    border-radius: 5px;
    border: 1px;
    padding: 5px;
}

.botonNav {
    background-color: yellow;
    border: 1px;
    border-radius: 5px;
    height: auto;
    width: auto;
    padding: 5px;
    color: black;
    font-weight: bold;
}

.botonNav:hover {
    background-color: aquamarine;
    color: black;
}


/* Card Styles */

.divCards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    width: auto;
}

.imgCard {
    max-width: 100%;
    border-radius: 5px;
}

.botonCard {
    position: absolute;
    top: 0%;
    left: 100%;
    background-color: red;
    border: 1px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    height: auto;
    width: auto;
    padding: 5px;
    color: white; 
    transform: translate(-100%,-0%);
}

.botonFav {
    position: absolute;
    top: 1%;
    left: 0%;
    background-color: transparent;
    border: none;
    font-size: x-large;
}

.botonCard:hover {
    background-color:yellow;
    color: black;
    font-weight: bold;
}

.nameImg {
    position: absolute;
    top: 75%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    color: black;
    height: auto;
    width: auto;
    max-width: 49%;
    padding: 5px;
    border: 1px;
    border-radius: 5px;
    font-size: 1vw;
}

.divDataImage {
    max-width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    background-color: gainsboro;
    margin-bottom: 5px;
    border: 1px;
    border-radius: 5px;
}

.dataImage {
    color: black;
    font-size: 1vw;
    margin: 10px;
}


/* About Styles */

.divAbout {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textAbout {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}


/* Detail Styles */

.divDetail {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.divDetailData {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    text-align: center;
    opacity: 85%;
    padding: 20px;
    height: 93%;
    width: 50%;
}

.divDetailImg {
    width: 450px;
    height: 450px;
    border-radius: 50%; /* Creates a circular shape */
    overflow: hidden; /* Clips the content to the circle */
    background-color: #ccc; /* Background color of the circle */
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailName {
    font-size: 80px;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.detailData {
    font-size: 30px;
    color: white;
    text-align: center;
}


/* Form Styles */

.divLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    opacity: 85%;
    padding: 20px;
    height: auto;
    width: auto;
}

.divLoginImg {
    width: 350px;
    height: 350px;
    border-radius: 50%; /* Creates a circular shape */
    overflow: hidden; /* Clips the content to the circle */
    background-color: black; /* Background color of the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.loginImg {
    width: 100%;
    height: 100%;
    background-image: url(../assets/Intro1.jpg);
    background-size: over;
    background-position: center;
}

.divLoginLabelInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: auto;
    margin: 10px;
}

.loginLabel {
    color: white;
    font-size: large;
    font-weight: bold;
}

.loginInput {
    width: 100%;
    border-radius: 5px;
    border: 1px;
    padding: 5px;
}

.loginButton {
    background-color: yellow;
    border: 1px;
    border-radius: 5px;
    height: auto;
    width: auto;
    padding: 5px;
    color: black;
    margin: 10px;
    font-weight: bold;
}

.loginButton:hover {
    background-color: aquamarine;
    color: black;
}

.loginErrorLabel {
    color: rgb(243, 134, 134);
    font-weight: bold;
    font-size: small;
}